asgiref
autopep8
blinker
click
colorama
crispy-bootstrap5
dj-database-url
Django
django-crispy-forms
django-environ
EasyProcess
entrypoint2
Flask
itsdangerous
Jinja2
MarkupSafe
MouseInfo
mss
mysqlclient
Pillow
psycopg2
psycopg2-binary
PyAutoGUI
pycodestyle
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
PythonTurtle
pytweening
reportlab
sqlparse
typing_extensions
tzdata
Werkzeug
