{% extends "base.html" %} {% load static %} {% block link %}

<link rel="stylesheet" href="{% static 'css/style.css' %}" />

{% endblock link %} {% block content %}

<style>
  .hero-section {
    background-image: url("{% static 'images/back.jpg' %}");
  }
</style>

<div
  class="hero-section bg-cover bg-center h-screen flex flex-col justify-center items-center text-pink mb-5"
>
  <h1 class="text-8xl font-bold mb-6 store_name">The Fairyland</h1>
  <p class="text-3xl tag">"Where Dreams Come True"</p>
  <a
    href="{% url 'all_books' %}"
    class="mt-10 text-2xl text-white border-2 rounded-full border-red-900 px-5 py-2 a_tag hover:bg-red-700 exp-button"
    >Explore Book</a
  >
</div>

{% endblock content %}
